lead-gen-workflow.json
{
  "name": "lead-gen-workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        80,
        -16
      ],
      "id": "279b38a5-1aae-49be-abdb-a35e7d864915",
      "name": "When chat message received",
      "webhookId": "2622453f-eb3b-46be-b47f-6d41f783d4b9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a research assistant helping the user collect contact details from the “serper” tool or a website.\n\nYour job is to extract and return all contact information in a clearly structured JSON format, following the example below:\n[\n  {\n    \"Name\": \" İmam Çağdaş Kebap Ve Baklava Salonu\",\n    \"Address\": \"Sekeroglu Mahallesi, Uzun Carsi Caddesi ,No:49 27010 Sahinbey/Gaziantep, Türkiye\",\n    \"Phone\": \"+90 342 220 45 45\",\n    \"Website\": \" https://www.imamcagdas.com/\",\n    \"Rating\": \"4.9\",\n    \"Opening Hours\": \"8 AM–10 PM daily\"\n  },\n  {\n    \"Name\": \" Ortaklar Kebap Restaurant\",\n    \"Address\": \" Binbirdirek, Peykhane Cd. No:27/a, 34122 Fatih/İstanbul, Türkiye\",\n    \"Phone\": \"+90 212 517 61 99\",\n    \"Website\": \" https://www.ortaklarkebaprestaurant.com/\",\n    \"Rating\": \"4.9\",\n    \"Opening Hours\": \"10:30 AM–01:30 AM, Saturday 11 AM–00:00 AM, Closed Sunday\"\n  }\n  // more entries...\n]\n\nReturn ONLY this JSON array in the response.\n\nDo not wrap it inside another object or string – just output the raw array.\n\nMake sure:\n- All values are properly filled in and escaped\n- No nested or malformed JSON\n- If a value is missing (e.g., website), use an empty string: \"Website\": \"\"\n\nThis format will be used by a code node to extract values before sending them to Google Sheets.\nOnly return the response in valid JSON format, without any other elements."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        288,
        -16
      ],
      "id": "19980966-85df-447d-9d92-fb4f002b435b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 3
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        288
      ],
      "id": "2d3a744b-078e-4b04-a3c7-3311e2dd22d3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Get the full response string from the previous step (usually \"AI Agent\" or similar)\nconst output = items[0].json.output;\n\n// Try to extract the JSON array from the output string\nconst jsonStart = output.indexOf('[');\nconst jsonEnd = output.lastIndexOf(']') + 1;\nconst jsonString = output.slice(jsonStart, jsonEnd);\n\n// Parse the JSON array\nconst contacts = JSON.parse(jsonString);\n\n// Optionally, return each contact as a separate item for downstream nodes (like Sheets)\nreturn contacts.map(contact => ({ json: contact }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -16
      ],
      "id": "aef0c15e-8025-4b80-bdea-ab6ce6155b8f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Ne_Y9Gdhjic87xUd83sb4S_Gy6AK7mpq2mjqM8PNjTU",
          "mode": "list",
          "cachedResultName": "LeadGenerationMap",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ne_Y9Gdhjic87xUd83sb4S_Gy6AK7mpq2mjqM8PNjTU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ne_Y9Gdhjic87xUd83sb4S_Gy6AK7mpq2mjqM8PNjTU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Asdress": "={{ $json.Address }}",
            "Phone": "=\"{{ $json.Phone }}\"",
            "Website": "={{ $json.Website }}",
            "Rating": "={{ $json.Rating }}",
            "Opening Hours": "={{ $json['Opening Hours'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Asdress",
              "displayName": "Asdress",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opening Hours",
              "displayName": "Opening Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -16
      ],
      "id": "41ac78d1-4f2c-4546-8808-4da58433578d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aqBHK81QlsqopfWO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama-3.1-8b-instant",
          "mode": "list",
          "cachedResultName": "llama-3.1-8b-instant"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        160,
        192
      ],
      "id": "144c5d3b-53e8-45d5-ac60-073e8b24067f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YiL6MpwAUZeYZB98",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This bot helps you scrape all contact information for lead generation from Google Maps. \n\nUse the query parameter \"q\" for the search term, \"ll\" for latitude and longitude, and \"page\" for the current pagination index.",
        "url": "https://google.serper.dev/maps",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Search keyword`, 'string') }}"
            },
            {
              "name": "ll",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Location latitude,longitude`, 'string') }}"
            },
            {
              "name": "page",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Page number`, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "8f4474bd067051faabde63e5c90deab8903c15fd"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        784,
        224
      ],
      "id": "69f25bd4-15bd-4c1c-9789-4f624055239f",
      "name": "Serper"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Serper": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b7d43d25-f43b-4e0a-bdca-bc6e6406e0ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e521a782bc908927e20eafa1ef35a8bf0d3f809c320699df9fc3dba2d00b7ae"
  },
  "id": "R2Kl5Ng1x0V8QO2a",
  "tags": []
}